@{
    Layout = "~/_AuthLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Фотоальбом</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="~/JS/common.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
