@{
    Layout = "~/_MainLayout.cshtml";
}

<div class="text-center text-muted header"><h1>Интернет фотоальбом</h1></div>


<div class="left_side" id="main_my_info">
    @RenderPage("~/Pages/mainUserInfoPartial.cshtml")
</div>

<div class="section">
    <div class="" id="main_find">
        <div class="input-group mb-2 tag_row">
            <div class="input-group-prepend">
                <div class="input-group-text">Поиск</div>
            </div>
            <div class="form-control">
                <input type="text" id="findText" maxlength="20" placeholder="Введите тег для поиска фото" autocomplete="off" />
                <div class="tags_dropdown" id="main_tags_dropdown"></div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="tab_1" data-toggle="tab">Топ 20 по рейтингу</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab_2" data-toggle="tab">Топ 20 обсуждаемых</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab_3" data-toggle="tab">Топ 20 по количеству оценок</a>
            </li>
        </ul>
    </div>
    <div class="row align-items-center" id="main_photo">
        @RenderPage("~/Pages/mainPhotoPartial.cshtml")
    </div>
</div>


<div class="right_side" id="main_users">
    @RenderPage("~/Pages/mainUsersPartial.cshtml")
</div>
