@{
    Layout = "~/_MainLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8">

        </div>
        <div class="col-4">
            @RenderPage("~/Pages/userListMainPartial.cshtml")
        </div>
    </div>
</div>

@RenderPage("~/Pages/_toast.cshtml")