USE [master]
GO
/****** Object:  Database [dbo.Album]    Script Date: 26.09.2020 3:29:29 ******/
CREATE DATABASE [dbo.Album]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbo.Album', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbo.Album.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbo.Album_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbo.Album_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbo.Album].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbo.Album]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [uniqueidentifier] NOT NULL,
	[PhotoId] [uniqueidentifier] NOT NULL,
	[AuthorId] [uniqueidentifier] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[Id] [uniqueidentifier] NOT NULL,
	[Filename] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Photos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhotoTagAssocs]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhotoTagAssocs](
	[PhotoId] [uniqueidentifier] NOT NULL,
	[TagId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regards]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regards](
	[Id] [uniqueidentifier] NOT NULL,
	[PhotoId] [uniqueidentifier] NOT NULL,
	[AuthorId] [uniqueidentifier] NOT NULL,
	[Rating] [smallint] NOT NULL,
 CONSTRAINT [PK_Regards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [uniqueidentifier] NOT NULL,
	[TagName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](32) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  CONSTRAINT [DF_Admins_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Comments] ADD  CONSTRAINT [DF_Comments_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Photos] ADD  CONSTRAINT [DF_Photos_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Photos] ADD  CONSTRAINT [DF_Photos_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Regards] ADD  CONSTRAINT [DF_Regards_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Tags] ADD  CONSTRAINT [DF_Tags_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_Admins_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_Admins_Users]
GO
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_Photos_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_Photos_Users]
GO
ALTER TABLE [dbo].[PhotoTagAssocs]  WITH CHECK ADD  CONSTRAINT [FK_PhotoTagAssocs_Photos] FOREIGN KEY([PhotoId])
REFERENCES [dbo].[Photos] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhotoTagAssocs] CHECK CONSTRAINT [FK_PhotoTagAssocs_Photos]
GO
ALTER TABLE [dbo].[PhotoTagAssocs]  WITH CHECK ADD  CONSTRAINT [FK_PhotoTagAssocs_Tags] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhotoTagAssocs] CHECK CONSTRAINT [FK_PhotoTagAssocs_Tags]
GO
ALTER TABLE [dbo].[Regards]  WITH CHECK ADD  CONSTRAINT [FK_Regards_Photos] FOREIGN KEY([PhotoId])
REFERENCES [dbo].[Photos] ([Id])
GO
ALTER TABLE [dbo].[Regards] CHECK CONSTRAINT [FK_Regards_Photos]
GO
ALTER TABLE [dbo].[Regards]  WITH CHECK ADD  CONSTRAINT [FK_Regards_Users] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Regards] CHECK CONSTRAINT [FK_Regards_Users]
GO
/****** Object:  StoredProcedure [dbo].[Album_AddTagToPhoto]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_AddTagToPhoto]
	@PhotoId uniqueidentifier,
	@TagId uniqueidentifier
AS
BEGIN
	SET NOCOUNT OFF;

	INSERT INTO PhotoTagAssocs(PhotoId, TagId)
	VALUES (@PhotoId, @TagId)
END
GO
/****** Object:  StoredProcedure [dbo].[Album_AddUserToAdmins]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_AddUserToAdmins]
	@UserId uniqueidentifier
AS
BEGIN
	SET NOCOUNT OFF;

	INSERT INTO Admins(UserId)
	VALUES (@UserId)
END
GO
/****** Object:  StoredProcedure [dbo].[Album_DeleteTagFromPhoto]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_DeleteTagFromPhoto]
	@PhotoId uniqueidentifier,
	@TagId uniqueidentifier
AS
BEGIN
	SET NOCOUNT OFF;

	DELETE
	FROM PhotoTagAssocs
	WHERE PhotoId = @PhotoId AND TagId = @TagId
END
GO
/****** Object:  StoredProcedure [dbo].[Album_DeleteUserById]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_DeleteUserById]
	@Id uniqueidentifier
AS
BEGIN
	SET NOCOUNT OFF;

	DELETE
	FROM Users
	WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Album_GetAllUsers]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_GetAllUsers]

AS
BEGIN
	SET NOCOUNT ON;

	SELECT * 
	FROM Users
END
GO
/****** Object:  StoredProcedure [dbo].[Album_GetUserById]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_GetUserById]
	@Id uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	SELECT *
	FROM Users
	WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Album_GetUserByLogin]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_GetUserByLogin]
	@Login nvarchar(20)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT *
	FROM Users
	WHERE Login = @Login
END
GO
/****** Object:  StoredProcedure [dbo].[Album_InsertComment]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_InsertComment]
	@PhotoId uniqueidentifier,
	@AuthorId uniqueidentifier,
	@Text nvarchar(MAX)
AS
BEGIN
	SET NOCOUNT OFF;

	INSERT INTO Comments(PhotoId, AuthorId, Text)
	VALUES (@PhotoId, @AuthorId, @Text)
END
GO
/****** Object:  StoredProcedure [dbo].[Album_InsertPhoto]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_InsertPhoto]
	@FileName nvarchar(20),
	@UserId uniqueidentifier
AS
BEGIN
	SET NOCOUNT OFF;

	INSERT INTO Photos(Filename, UserId)
	VALUES (@FileName, @UserId)
END
GO
/****** Object:  StoredProcedure [dbo].[Album_InsertRegard]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_InsertRegard]
	@PhotoId uniqueidentifier,
	@AuthorId uniqueidentifier,
	@Rating smallint
AS
BEGIN
	SET NOCOUNT OFF;

	INSERT INTO Regards(PhotoId, AuthorId, Rating)
	VALUES (@PhotoId, @AuthorId, @Rating)
END
GO
/****** Object:  StoredProcedure [dbo].[Album_InsertTag]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_InsertTag]
	@TagName nvarchar(20)
AS
BEGIN
	SET NOCOUNT OFF;

	INSERT INTO Tags (TagName)
	VALUES (@TagName)
END
GO
/****** Object:  StoredProcedure [dbo].[Album_InsertUser]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_InsertUser]
	@Login nvarchar(20),
	@Password nvarchar(32) = NULL,
	@Name nvarchar(50),
	@Avatar nvarchar(MAX) = NULL
AS
BEGIN
	SET NOCOUNT OFF;

    INSERT INTO Users (Login, Password, Name, Avatar)
	VALUES (@Login, CONVERT(NVARCHAR(32),HashBytes('MD5', @Password),2), @Name, @Avatar)
END
GO
/****** Object:  StoredProcedure [dbo].[Album_IsAccountExist]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_IsAccountExist]
	@Login nvarchar(20),
	@Password nvarchar(32)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT COUNT(*)
	FROM Users
	WHERE Login = @Login AND Password = CONVERT(NVARCHAR(32),HashBytes('MD5', @Password),2)
END
GO
/****** Object:  StoredProcedure [dbo].[Album_IsUserActive]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_IsUserActive]
	@Login nvarchar(20)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT COUNT(*)
	FROM Users
	WHERE Login = @Login AND Active = 1
END
GO
/****** Object:  StoredProcedure [dbo].[Album_IsUserAdmin]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_IsUserAdmin]
	@Login nvarchar(20)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT COUNT(*)
	FROM Admins JOIN Users ON (Users.Id = Admins.UserId)
	WHERE Users.Login = @Login
END
GO
/****** Object:  StoredProcedure [dbo].[Album_RemoveTagFromPhoto]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_RemoveTagFromPhoto]
	@PhotoId uniqueidentifier,
	@TagId uniqueidentifier
AS
BEGIN
	SET NOCOUNT OFF;

	DELETE
	FROM PhotoTagAssocs
	WHERE PhotoId = @PhotoId AND TagId = @TagId
END
GO
/****** Object:  StoredProcedure [dbo].[Album_SetUserPassword]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_SetUserPassword]
	@Id uniqueidentifier,
	@Password nvarchar(32)
AS
BEGIN
	SET NOCOUNT OFF;

	UPDATE Users
	SET Password = CONVERT(NVARCHAR(32),HashBytes('MD5', @Password),2)
	WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Album_UpdateUserById]    Script Date: 26.09.2020 3:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Album_UpdateUserById]
	@id uniqueidentifier,
	@Name nvarchar(50),
	@Password nvarchar(32),
	@Avatar nvarchar(MAX) = NULL,
	@Active bit
AS
BEGIN
	SET NOCOUNT OFF;

    UPDATE Users
	SET Name = @Name, Password = @Password, Avatar = @Avatar, Active = @Active
	WHERE Id = @Id
END
GO
USE [master]
GO
