@using Album.PL.Web.Models
@using Album.Entities
@{
    var WebPL = new WebAlbumPL();

    var type = Request["type"];
    bool canEdit = false;
    string placeholder = "";

    if (User.IsInRole("admin"))
    {
        canEdit = true;
    }

    IEnumerable<Photo> photos = null;

    switch (type)
    {
        case "my":
            {
                canEdit = true;
                var user = WebPL.GetUserByLogin(User.Identity.Name);
                photos = WebPL.GetPhotosByUserId(user.Id);
                placeholder = "У вас пока нет ни одной фотографии :( . Поделитесь новыми снимками!";
            }
            break;
        case "user":
            {
                Guid userId;
                Guid.TryParse(Request["userId"], out userId);

                var user = WebPL.GetUserById(userId);

                if (user != null)
                {
                    photos = WebPL.GetPhotosByUserId(user.Id);
                }
                placeholder = $"Пользователь {user.Name} пока не разместил ни одной фотографии :( . Заглядывайте сюда почаще, чтобы не пропустить новые кадры!";
            }
            break;
        case "popular":
            photos = WebPL.GetMostPopularPhotos();
            break;
        default:
            photos = WebPL.GetMostPopularPhotos();
            break;
    }

    if (photos.Count() != 0)
    {
        foreach (var photo in photos)
        {
            <text>
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4">

                    <!--Modal: Name-->
                    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">

                            <!--Content-->
                            <div class="modal-content">

                                <!--Body-->
                                <div class="modal-body mb-0 p-0">

                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                        <img class="embed-responsive-item" src="/Images/Photos/@photo.FileName" />
                                    </div>

                                </div>

                                <!--Footer-->
                                <div class="modal-footer justify-content-center">

                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Закрыть</button>

                                </div>

                            </div>
                            <!--/.Content-->

                        </div>
                    </div>
                    <!--Modal: Name-->

                    <a>
                        <img class="img-fluid z-depth-1" src="/Images/Photos/@photo.FileName" alt="Фотография"
                             data-toggle="modal" data-target="#modal2">
                    </a>

                </div>
                <!-- Grid column -->
            </text>
        }
    }
    else
    {
        <text>
            <h4 class="text-dark">@placeholder</h4>
        </text>
    }
}