@using Album.PL.Web.Models
@{
    var WebPL = new WebAlbumPL();

    var user = WebPL.GetUserByLogin(User.Identity.Name);
}

<div id="user_info_wrapper" class="text-center m-2 border">
    <div class="text-muted"><h6>Обо мне:</h6></div>
    @if (user != null)
    { 
        var avatar = user.Avatar != null ? user.Avatar : "/Images/no_avatar.png";

        <text>
            <div id="my_avatar_wrapper">
                <img src="@avatar" alt="Аватар">
            </div>

            <div class="form-group">
                <div class="text-info">Логин</div>
                <div class="">@user.Login</div>
            </div>

            <div class="form-group">
                <div class="text-info">Ваше имя:</div>
                <div class="">@user.Name</div>
                <button class="btn btn-light btn-sm btn_user_edit" id="@user.Id">Редактировать информацию</button>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Мой фотоальбом</button>
            </div>
        </text>
    }
    else
    {
        <text>
            <div class="text-info">Зарегистрируйтесь или войдите, чтобы размещать свои фотографии</div>
        </text>
    }
</div>
