@using Album.PL.Web.Models
@{
    var WebPL = new WebAlbumPL();


}

<div class="modal fade" id="userEditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактирование пользователя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <input type="hidden" id="modal_user_id">
                <input type="file" id="modal_file" class="modal_file" accept="image/png, image/jpeg" hidden />
                <div class="row modal_row">
                    <div class="col">
                        <div id="modal_div_image"><img id="modal_user_image" /></div>
                        <div><label for="modal_file" class="change_img btn btn-info">Сменить аватар</label></div>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <div class="text-dark">Логин</div><br>
                            <input type="text" readonly id="modal_user_login">
                        </div>
                        <div class="input-group mb-3">
                            <div class="text-dark">Имя пользователя</div><br>
                            <input type="text" id="modal_user_name">
                        </div>
                        <div class="input-group mb-3">
                            <div class="text-dark">Пароль</div>
                            <input type="password" id="modal_user_pass" placeholder="Введите новый пароль">
                        </div>
                        @if (User.IsInRole("admin"))
                        {
                            <text>
                                <div class="input-group mb-3 pl-3">
                                    <input type="checkbox" class="form-check-input" id="modal_user_active">
                                    <div class="text-dark">Пользователь активен</div>
                                </div>
                            </text>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="modal_save">Сохранить</button>
            </div>
        </div>
    </div>
</div>