body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 10px;
}

textarea, select, input, button {
    outline: none;
}

.container-fluid {
    flex: 1;
}

.btn {
    margin: 1px;
}

#confirm_delete {
    z-index: 9999;
}

#user_info_wrapper, #users_list_wrapper {
    border-radius: 4px;
    padding: 10px 2px;
}

#users_list_wrapper {
    max-height: 800px;
    overflow-y: auto;
}

#my_avatar_wrapper {
    max-height: 200px;
    max-width: 150px;
    margin: auto;
}

    #my_avatar_wrapper img {
        max-height: 100%;
        max-width: 100%;
    }

#user_name_top {
    position: fixed;
    top: 10px;
    right: 10px;
}

.main_users_row {
    height: 50px;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
}

    .main_users_row img {
        max-height: 100%;
        max-width: 50px;
    }

.right_users_edit_but {
    width: 30px;
    margin-left: auto;
}

.users_list_name {
    margin-left: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 83px);
    overflow: hidden;
}

.modal_row {
    align-items: center;
}

#modal_div_image {
    display: flex;
    width: 140px;
    height: 160px;
    border-color: #bebebe;
    border-radius: 3px;
    border-style: solid;
    padding: 3px;
    user-select: none;
}

#modal_user_image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#photo_div_image {
    max-width: 100%;
    max-height: 100%;
}

#modal_photo_image {
    max-width: 100%;
    max-height: 100%;
}

.photo_viewer_modal {
    max-width: 90%;
    max-height: 90%;
}

.photo_edit_btn {
    position: absolute;
    top: 0;
    right: 17px;
    cursor: pointer;
    box-shadow: white -2px 2px 5px;
}

#input_tag_wrapper {
    width: 15em;
    float: left;
    margin: 2px;
}

    #input_tag_wrapper > * {
        width: 100%;
    }

#photo_tags_dropdown, #main_tags_dropdown {
    position: absolute;
    text-align: center;
    z-index: 999;
}

#photo_tags_dropdown {
    width: inherit;
}

#findText {
    width: 100%;
    height: 100%;
    border: none;
}

.form-control {
    min-width: 15em !important;
}

.tag_to_select {
    background-color: #f0f9ff;
    cursor: pointer;
    user-select: none;
}

.tag_row {
    margin-top: 10px;
}

.tag_wrapper {
    margin: 2px 5px;
    padding: 1px 3px;
    border-radius: 3px;
    border: 1px solid #9fbeff;
    color: #3d47ff;
    float: left;
    display: flex;
}

.tag_delete {
    cursor: pointer;
    padding: 0 0 0 5px;
}
