body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 10px;
}

.container-fluid {
    flex: 1;
}

#user_info_wrapper, #users_list_wrapper {
    border-radius: 4px;
    padding: 10px 2px;
}

#users_list_wrapper {
    max-height: 800px;
    overflow-y: auto;
}

#my_avatar_wrapper {
    max-height: 200px;
    max-width: 150px;
    margin: auto;
}

    #my_avatar_wrapper img {
        max-height: 100%;
        max-width: 100%;
    }

#user_name_top {
    position: fixed;
    top: 10px;
    right: 10px;
}

.main_users_row {
    height: 50px;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
}

    .main_users_row img {
        max-height: 100%;
        max-width: 50px;
    }

.right_users_edit_but {
    width: 30px;
    margin-left: auto;
}

.users_list_name {
    margin-left: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 83px);
    overflow: hidden;
}

.modal_row {
    align-items: center;
}

#modal_div_image {
    display: flex;
    width: 140px;
    height: 160px;
    border-color: #bebebe;
    border-radius: 3px;
    border-style: solid;
    padding: 3px;
    user-select: none;
}

#modal_user_image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.btn {
    margin: 1px;
}

#photo_div_image {
    max-width: 100%;
    max-height: 100%;
}

#modal_photo_image {
    max-width: 100%;
    max-height: 100%;
}